<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRL DAQ and Control</title>
    <link rel="stylesheet" href="resources/bootstrap.css">
    <script type="text/javascript" src="resources/jquery.js"></script>
    <script type="text/javascript" src="resources/popper.js"></script>
    <script type="text/javascript" src="resources/bootstrap.js"></script>
    <script type="text/javascript" src="resources/chart.js"></script>
    <script type="text/javascript" src="logs.js"></script>

    <style>
        /* .plot-card {
            margin-bottom: 20px;
        } */

        .nav-item {
            margin: 10px
        }
    </style>
</head>

<body onload="initLogs()">
    <div class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item"><h3>System Control: </h3></li>
            <li class="nav-item">
                <button type="button" class="btn btn-danger" href="#">Power Off</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-warning" href="#">Restart</button>
            </li>
        </ul>
        <div class="jumbotron text-center">
            <h1 class="display-4">
                CU SRL Data Acquisition
            </h1>
        </div>
        <hr>
        <div class="contianer">
            <h1>Logging Control</h1>
            <div class="btn-group" role="group">
                <button class="btn btn-success btn-lg">Start Logging</button>
                <button class="btn btn-danger btn-lg" disabled>Stop Logging</button>
            </div>
        </div>
        <hr>
        <div class="container" id="logList">

        </div>
    </div>
</body>

</html>